h1 {
    font-size: 30px;
}

table {
    font-family: arial, sans-serif;
    table-layout: fixed;
}

th {
    font-size: 15px;
}

.delete-btn {
    background-color: inherit;
    border: none;
}

.delete-btn:hover {
    border: none;
}

.sort-button {
     background-color: inherit;
     border: none;
     cursor: pointer;
     margin-left:-6px;
}

.panel-heading .form-control {
    height: 80%;
    width: 30%;
}

.panel-heading {
    font-size: 17px;
}

.panel {
    margin-top: 2%;
}
